DB_PASSWORD=123456789
DB_USER=postgres
DB_NAME=pg_screening
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET=change_this_to_a_random_secret_minimum_32_chars
JWT_EXPIRE_HOURS=8
OLLAMA_URL=http://localhost:11434
REDIS_URL=redis://localhost:6379
STORAGE_PATH=./storage/raw